body {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Manrope';
    font-size: 22px;

}

header {
    text-align: center;
    height: 70px;
    color: rgb(131, 81, 16);
    font-family: 'manrope';
    background-color: rgb(223, 149, 54);
}

.tile is-child {
    background-color: hsl(0, 0%, 29%);
}

.search-container {
    padding-top: 20px;
    padding-left: 20px;
}

h3 {
    padding-left: 20px;
}

#search-history {
    padding-left: 20px;
}

.is-size-7 {
    font-size: .75rem !important;
    padding-left: 20px;
}

#city {
    font-size: 25px;
    color: rgb(119, 67, 7);
    background-color: rgb(214, 157, 83);

}

#searchBtn {
    font-size: 25px;
    color: rgb(119, 67, 7);
    background-color: rgb(214, 157, 83);
}

.bottom {
    background-color: rgb(223, 149, 54);
    padding-top: 20px;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
    padding-left: 60px;
}