body {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Manrope', Arial, serif;
    font-weight: 400;
    font-size: 22px;
}

header {
    text-align: center;
    height: 70px;
    color: rgb(131, 81, 16);
    font-family: 'manrope';
    font-weight: bold;
    background-color: rgb(223, 149, 54);
}

main {
    background-color: black;
}


.search-container {
   
    padding-top: 20px;
}

#city {
    font-size: 25px;
    color: rgb(119, 67, 7);
    background-color: rgb(214, 157, 83);
}

#searchBtn {
    font-size: 25px;
    color: rgb(119, 67, 7);
    background-color: rgb(214, 157, 83);
}

.weather-container {
    margin-left: 900px;
    margin-top: 20px;
    margin-bottom: 90px;
}

.bottom {
    background-color: rgb(223, 149, 54);
    padding-top: 20px;
}